@import url("common.css");

:root {
	
	--bg-color: rgba(232,232,232,1);
	
}

html, body {
	
	background: linear-gradient(var(--bg-color) 67%, rgba(216,216,216,1));
	height: 100%;
	min-height: 100%;
	
}

html {
	
	overflow-x: auto;
	overflow-y: hidden;
	
}

body {
	
}