@import url("common.css");

header {
	
	align-items: center;
	display: flex;
	position: relative;
	
}

/*#branch {
	
	display: flex;
	
}

#branch > * {
	
	flex: 1 0 calc(100% / 3);
	
}*/