@import url("common.css");

:host {
	
	display: block;
	width: 100%;
	
}

#root {
	
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	position: relative;
	width: 100%;
	writing-mode: vertical-rl;
	
}

header {
	
	align-items: center;
	display: flex;
	margin: 0 0 0 1rem;
	position: relative;
	
}

#ctrl {
	
	align-items: center;
	display: flex;
	
}
#ctrl > * {
	
	flex: 1 0 max-content;
	
}
#name {
	
	box-sizing: border-box;
	flex: 0 1 auto;
	height: 100%;
	margin: .4rem;
	padding: .5rem;
	
}

#tabs {
	
}

#tabs > tab-node {
	
	display: block;
	width: 100%;
	
}
#tab-views {
	
	display: block;
	width: 100%;
	
}
#tab-views > tab-node {
	
	display: block;
	width: 100%;
	
}

:host(.mutated) #save {
	
	border: 2px solid red;
	
}