@import url("common.css");

:host {
	
	display: block;
	width: 100%;
	
}

#root {
	
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1rem;
	position: relative;
	writing-mode: vertical-rl;
	width: 100%;
	
}

#doc-tabs {
	
	z-index: 2;
	
}

header {
	
	align-items: center;
	border-left: 1px solid rgba(160,160,160,1);
	display: flex;
	margin-left: .0rem;
	padding-left: .8rem;
	position: sticky;
	right: 0;
	top: 0;
	z-index: 1;
	
}

#doc-menu {}

#storage-menu {}

#doc-tab-views {
	
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 0;
	
}

#doc-tab-views > tab-view[selected] {
	
	display: block;
	width: 100%;
	
}